{
  "name": "{project_name}",
  "version": "0.1.0",
  "description": "",
  "main": "server.js",
  "scripts": {
    "start": "node server.js",
    "dev": "cross-env NODE_ENV=development nodemon server.js"
  },
  "keywords": [],
  "author": "",
  "license": "MIT",
  "type": "commonjs"
}
